* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background-color: black;
}

.wrapper {
    display: flex;
    margin: 50px auto;
    max-width: 425px;
    flex-direction: column;
    justify-content: center;
}

.puzzle__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px auto;
    max-width: 425px;
    height: 425px;
    padding: 5px;
    background-color: white;
}

.cell__wrapper {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    transition: all 1s;
}

.cell__number {
    cursor: pointer;
}

.cell__number:hover {
    background-color: rgba(1, 1, 1, 0.1);
}

.empty-cell {
    border: none;
}

.game-nav {
    display: flex;
    justify-content: space-between;
}

.nav__btn {
    width: 130px;
    height: 50px;
    background-color: white;
    outline: none;
    border-radius: 10px;
    border-color: white;
    color: red;
    cursor: pointer;
    transition: font-weight 1s;
}

.nav__btn:hover {
    font-weight: bold;
}

.nav__btn:active {
    color: rgba(1, 0, 0, 0.3);
}

.game-info {
    display: flex;
    justify-content: space-between;
}

.timer__info,
.moves__info {
    display: flex;
}

.timer__info span,
.moves__info span {
    font-size: 20px;
    color: white;
}

@media (max-width: 450px) {
    .game-info {
        flex-direction: column;
        margin: 0 auto;
    }
    .moves__info {
        margin-top: 10px;
    }
    .game-nav {
        flex-direction: column;
        align-items: center;
    }
    .nav__btn {
        margin-bottom: 5px;
    }

    .wrapper {
        width: 100%;
    }

    .cell__wrapper {
        width: 24%;
        height: 24%;
    }
}